**/__pycache__/**
**/node_modules/**
spa/.vite/**
server/src/data/
server/src/logs/
server/src/configure.json
**/*.db
**/*.sql
**/*.bk
**/*.log
**/.DS_Store

electron/dist_electron
*.flag

shell/voichai-backup