#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hover-highlight {
    cursor: pointer;
}

.hover-highlight:hover {
    color: blue;
}

.inline-paragraph {
    display: inline-block;
    margin: 0;
    padding: 0;
}
