html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    overflow-x: hidden; /* 禁用水平滚动 */
    overflow-y: auto; /* 保留垂直滚动（可选） */
}

*,
*:before,
*:after {
    box-sizing: inherit; /* 继承html的box-sizing设置 */
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover-highlight {
    /* 禁用鼠标悬停效果，否则无法激活其它选词工具，如豆包 */
    /* cursor: pointer; */
    user-select: auto;
}

/* Custom selection color for .hover-highlight */
.hover-highlight::selection {
    background: #409eff;
    color: #fff;
}

.hover-highlight:hover {
    color: blue;
}

.inline-paragraph {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.sentence-playing {
    background-color: rgb(102.2, 177.4, 255);
    transition: background-color 0.3s ease;
}

.el-sub-menu__title {
    padding-left: 2px !important;
    border-radius: 10px;
    margin-right: 20px;
}

.el-menu-item {
    border-radius: 10px;
    margin-right: 20px;
}

.el-button {
    text-align: left !important;
}

/* 向上扩展的关键 CSS */
.input-container .el-textarea__inner {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 10px 10px 10px 15px !important;
    background-blend-mode: luminosity;
    /* filter: brightness(90%); */
    font-size: 16px;
    line-height: 1.6;
    transition: padding 0.2s;
    border-radius: 15px;
    border: 1px solid #909399;
    box-shadow: var(--el-box-shadow-light);
}
